 
    form{
  background-color:yellow;
   width:50%;
  
   left: 0px;
   padding: 20px;

   }
   table {
     border-collapse: collapse;
  background-color:orange;
     position: absolute;
     top: 0px;
    width:45%;
      right:50px;
   } 
  .customModal {
  
   width: 50%;
}